{% extends "pjx_stellar.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}
<link rel="stylesheet" href="{% static "css/app_notes_search.css" %}">
<style type="text/css">
#page2{
background-color: #03fc8c;
border-radius: 10px;
color: #000000;
}
</style>
<div class="col app_notes_search">
<form method="get">
<div class="card bg-light">
<div class="card-body">
<div class="row">
<div class="form-group col-md-4 col-md-3">
{{ filter.form.title.label_tag }}
{% render_field filter.form.title class="form-control" %}
</div>
<div class="form-group col-md-4 col-md-3">
{{ filter.form.genre.label_tag }}
{% render_field filter.form.genre class="form-control" %}
</div>
<div class="form-group col-md-4 col-md-3">
{{ filter.form.tag.label_tag }}
{% render_field filter.form.tag class="form-control" %}
</div>
</div>
<div class="row">
<div class="form-group col-md-4 col-md-3">
{{ filter.form.body.label_tag }}
{% render_field filter.form.body class="form-control" %}
</div>					
<div class="form-group col-md-4 col-md-3">
{{ filter.form.m_date.label_tag }}
{% render_field filter.form.m_date class="form-control" %}
</div>
<div class="form-group col-md-4 col-md-3">
{{ filter.form.y_date.label_tag }}
{% render_field filter.form.y_date class="form-control" %}
</div>
</div>	
<button type="submit" class="btn btn-primary">Search</button>
</div>
</div>
</form>
<div class="results">
{% for notes in filter.qs %}
<h1 class="font-italic font-weight-bold">{{ notes.date }}</h1>
<h4>{{ notes.title }}</h4>
<div>
<a><span class="badge badge-secondary">{{ notes.genre }}</span></a>
<a><span class="badge badge-primary">{{ notes.tag }}</span></a>
</div>
<p>{{ notes.formatted_markdown|safe }}</p>
<hr>
<br>
{% endfor %}
</div>
</div>
{% endblock content %}