{% extends "pjx_stellar.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}
<link rel="stylesheet" href="{% static "css/app_notes_create.css" %}">
<style type="text/css">
#page5{
background-color: #03fc8c;
border-radius: 10px;
color: #000000;
}
</style>
<div class="col app_notes_create">
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
<div class="card bg-light">
<div class="card-body">
<div class="row">
<div class="form-group col-md-4">
{{ form.end_date.label_tag }}
{% render_field form.end_date class="form-control" %}
</div>
<div class="form-group col-md-4">
{{ form.tag.label_tag }}
{% render_field form.tag class="form-control" %}
</div>
</div>
<div>
{{ form.body.label_tag }}
{% render_field form.body class="form-control" %}
</div>
<br>
<button type="submit" class="btn btn-primary">Create</button>
</div>
</div>
</form>
{{ form.media }}
</div>
{% endblock content %}