.populartags{
	margin-top: 50px;
}
.populargenre{
	margin-top: 50px;
}
.tags{
	width: 300px;
	display: flex;
	flex-wrap: wrap;
	padding-left: 5px;
}
.tags a{
	padding-right: 5px;
}
.genre{
	width: 300px;
	display: flex;
	flex-wrap: wrap;
	padding-left: 5px;
}
.genre a{
	padding-right: 5px;
}


.mynotes{
	margin-top: 150px;
}
.notes_hdr {
	margin-bottom: 10px;
}
.notes_hdr a{
	padding-right: 10px;
}
.mynotes .badge:hover{
	transform: scale(1.1);
}



.goalssec h2{
	font-weight: bold;
}
.taskssec h2{
	font-weight: bold;
}
.entry{
	display: flex;
}
.entry span{
	margin-right: 10px;
}








.thenotessection{
	font-weight: bold;
}
.timestamp {
	font-style: italic;
}
.thetitle {
	font-weight: bold;
}
